@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
}
svg {
  display: inline-block;
  vertical-align: middle;
}
